.App {
  text-align: center;
  width: 100%;
  height: 100%;
  padding-top: 15%;
  padding-bottom: 25%;
}
.body{
  margin: 0;
  padding: 0;
  background-image: url("https://images.unsplash.com/photo-1506318137071-a8e063b4bec0?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGRhcmslMjBza3klMjB3aXRoJTIwc3RhcnN8ZW58MHx8MHx8fDA%3D");
  height: 100%;
}

.full-screen-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  color: white;
}

.full-screen-text h1 {
  font-size: 3em; 
}

.full-screen-text p {
  font-size: 1.5em; 
  margin-top: 20px; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.section-2{
  /* background-color: whitesmoke; */
  width: auto;
  display: flex;
  flex-direction: column;
}
.skill-icon{
  height: 120px;
  width: 80px;
  max-width: 100px;
}

.textcenter{
  text-align: center;
  color: white;
  /* display: flex; */
}
.card-style{
  width: 18rem;
  /* flex-shrink: 1; */
}
.cardimg{
  height: 300px;
  width: 250px;
  /* max-width: 200px; */
}
.section-3{
  /* background-color: white; */
  width: auto;
  display: flex;
  flex-direction: column;
}


nav {
  position: fixed;
  top: 0;
  right: 0;
  /* background-color: #333;  */
  padding: 15px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

nav li {
  margin-right: 20px;
}
nav a {
  text-decoration: none;
  color: white; 
  font-size: 1.2em; 
}

/* .custom-project {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd; 
  margin: 10px; 
} */



/* .project-details {
  padding: 15px;
  background-color: #f8f9fa; 
}

.project-title {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.project-description {
  margin-bottom: 15px;
} */

.btn-primary {
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 4px;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
}
